
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&display=swap');


body {
    font-family: 'Karla', sans-serif;
}


.linear {
    background-image: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}


.meme-container input {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
}